
/* Your CSS Code here. */
.r1c1{
	background-color:#008081;
}
.r1c2{
	background-color:#d7bfd7;
}
.brwn{
	background-color:#211919;
}
.r2c1{
	background-color:#fe6347;
}
.r2c2{
	background-color:#3fe0d0;
}
.r3c1{
	background-color:#ee82ef;
}
.r3c2{
	background-color:#9acd32;
}
.row div{
	height:180px;
/* 	background-color:#ffbac0; */
	border:1px dashed black;
	
}
.container{
	background-color:#ffbac0;
/* 	height:00px; */
	border:6px solid #05ff00;
	padding:5px ;
}
.my-row{
	padding:5px;
}